body {
  background-image: url("https://source.unsplash.com/daily?animal");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Helvetica-Neue", "Arial", sans-serif;
}

.greeting {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  height: 100vh;
}

.greeting h2,
.greeting p {
  font-size: 10rem;
  color: #fff;
  text-shadow: 1px 1px 1px black;
}

.greeting p {
  margin-top: -30px;
  font-size: 3rem;
}
