
/* universal */

html {
  box-sizing: border-box;
}

body {
  background-image: url("https://source.unsplash.com/daily?mountains");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1%;
}

.white {
  color: #fff;
}

/* greeting section */
.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.greeting h2 {
  font-size: 10rem;
}

.greeting p {
  margin-top: -30px;
  font-size: 3rem;
}

/* todo section */

.todo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

[class*="input-"] {
  border: none;
  background: transparent;
  border-bottom: 3px white solid;
  width: 28%;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

[class*="input-"]:focus {
  outline: none;
  caret-color: #fff;
}

.todo input:checked ~ .custom-checkbox {
  text-decoration: line-through;
}

.main-goal-item {
  font-size: 1.5rem;

/* Weather section*/
.weather {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.625rem;
}

.current-weather {
  font-size: 14px;
  margin-top: -10px;

}
